*,
::before,
::after {
  animation: initial !important;
  contain: initial !important;
  flex-wrap: wrap !important;
  height: initial !important;
  max-height: initial !important;
  min-height: initial !important;
  opacity: initial !important;
  overflow: initial !important;
  position: initial !important;
  transform: initial !important;
  transition: initial !important;
  visibility: initial !important;
}

html,
body {
  display: block !important;
}

.showeverything-margin-top,
.showeverything-margin-top-before::before,
.showeverything-margin-top-after::after {
  margin-top: initial !important;
}

.showeverything-margin-right,
.showeverything-margin-right-before::before,
.showeverything-margin-right-after::after {
  margin-right: initial !important;
}

.showeverything-margin-bottom,
.showeverything-margin-bottom-before::before,
.showeverything-margin-bottom-after::after {
  margin-bottom: initial !important;
}

.showeverything-margin-left,
.showeverything-margin-left-before::before,
.showeverything-margin-left-after::after {
  margin-left: initial !important;
}
